# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\gunna\Documents\IMD\Jaar2\Semester2\DevWebtechfrontAdv\2imd-webtechadvanced-portfolio\lab2- css grid layout & flexbox\gridticket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
