@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.container {
    margin-top: 8px;
    display: grid;
    gap: 8px;
    align-content: center;
}

.container div {
    width: 100%;
    padding: 2em;
    text-align: center;
}

.homework {
    background-color: #F83259;
}

.broken {
    background-color: #63F6F3;
}

.infinity {
        background-color: #FFFF04;
}

@media(min-width: 35em) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 65em) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .broken {
        grid-column: 3;
        grid-row: 1 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .infinity {
        grid-column: 4 / 6;
        grid-row: -1 / -3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}